@import "../../scss/mixins";
@import "../../scss/variables";

.verbCategoriesWrp {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.filterBox {
  margin-bottom: 18px;
  width: 204px;
  height: 48px;
  position: relative;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 15px;
  border: 1px solid rgba(252, 252, 252, 0.3);
  background: $mainAccentColor;
  color: #8c8c8c;
  @include font-size(16, 400, 24);
  cursor: pointer;
  &:hover,
  &:focus {
    border: 1px solid $secondaryAccentColor;
  }
  @media screen and (min-width: $breakpoint-tablet) {
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}

.filterBtn {
  border: transparent;
  background-color: inherit;
  position: absolute;
  top: 57%;
  right: 11%;
  transform: translateY(-50%);
  padding: 0;
}

.dropDowList {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  gap: 10px;
  z-index: 8;
  top: 54px;
  left: 0;
  width: 100%;
  //   max-height: 310px;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(252, 252, 252, 0.3);
  background: $mainAccentColor;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  span {
    // padding-left: 16px;
    color: #8c8c8c;
    cursor: pointer;
  }
}
.dropDownItem {
  cursor: pointer;
  //   padding-left: 16px;
}

.active {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 1;
  transition: transform 500ms cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.hidden {
  -webkit-transform: rotateX(70deg);
  transform: rotateX(70deg);
  -webkit-transform-origin: top;
  transform-origin: top;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radioButtons {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 39px;
}

.categoriesName {
  text-transform: capitalize;
  color: $lightTextColor;
  @include font-size(16, 500, 24);
}

.inputSet {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}
.addWordInputWrp {
  position: relative;
  display: flex;
  gap: 32px;
  align-items: center;
}
.addWordInput {
  box-sizing: border-box;
  outline: none;
  width: 354px;

  padding: 16px 18px;
  border-radius: 15px;
  border: 1px solid rgba(252, 252, 252, 0.3);
  background-color: $mainAccentColor;
  color: $lightTextColor;
  @include font-size(16, 400, 24);
}

.addWordLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $lightTextColor;
  @include font-size(16, 500, 24);
}

.addWordButtonsWrp {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.addWordButton {
  width: 245px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 30px;
  background: $lightTextColor;
  color: $darckTextColor;
  @include font-size(18, 700, 28);
  &:hover,
  &:focus {
    color: $mainAccentColor;
  }
}

.cancelButton {
  width: 245px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 30px;
  background: $mainAccentColor;
  color: $lightTextColor;
  border: 1px solid rgba(252, 252, 252, 0.4);
  @include font-size(18, 700, 28);
  &:hover,
  &:focus {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background: #fcfcfc;
    color: $darckTextColor;
  }
}

.errorMessage {
  position: absolute;
  color: red;
  top: 52px;
  @include font-size(10, 400, 28);
}
.errorMessageCategory {
  position: absolute;
  color: red;
  top: 43px;
  @include font-size(10, 400, 28);
}
