@import "../../scss/mixins";
@import "../../scss/variables";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 20, 23, 0.2);
  z-index: 20;

  @media screen and (min-width: 768px) {
    top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 20;
  }
}
.modalContainer {
  box-sizing: border-box;
  position: relative;
  width: 343px;
  background-color: $mainAccentColor;
  padding: 50px 16px;
  z-index: 20;
  flex-direction: column;
  border-radius: 15px;

  @media screen and (min-width: 768px) {
    width: 630px;
    border-radius: 30px;
    padding: 64px;
  }
}

.modalCloseButton {
  opacity: 0;
  outline: none;
  padding: 0px;
  opacity: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.2);
    color: $mainAccentColor;
  }
}
.modalCloseSvg {
  width: 20px;
  height: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 30px;
    height: 30px;
  }
}
