@import "../../scss/mixins";
@import "../../scss/variables";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 20, 23, 0.2);
  z-index: 20;

  @media screen and (min-width: 768px) {
    top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 20;
  }
}
.modalContainer {
  box-sizing: border-box;
  position: relative;
  width: 250px;
  background-color: $mainAccentColor;
  padding: 25px;
  z-index: 20;
  border-radius: 30px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 630px;
    padding: 64px;
  }
}

.modalCloseButton {
  opacity: 0;
  outline: none;
  padding: 0px;
  opacity: 1;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.2);
    color: $mainAccentColor;
  }
}
.modalCloseSvg {
  width: 20px;
  height: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 30px;
    height: 30px;
  }
}

.modalTitle {
  color: $lightTextColor;
  font-weight: 500;
  line-height: 1.2em;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: -0.8px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 40px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.modalText {
  color: $lightTextColor;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.37em;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
