@import "../../scss/mixins";
@import "../../scss/variables";

.trainingPageContainer {
  height: 100vh;
  background-color: $pageBgColor;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 80px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.trainingWelcomeContainer {
  min-height: 100vh;
  background-color: $pageBgColor;
  padding-top: 75px;
  @media screen and (min-width: $breakpoint-desktop) {
    padding-top: 193px;
  }
}

.trainingСontentWrp {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
  @media screen and (min-width: $breakpoint-desktop) {
    width: 900px;
    flex-direction: row;
    align-items: stretch;
  }
}
.trainingСontentBox {
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 10px;
  }
  h2 {
    color: $darckTextColor;
    @include font-size(16, 500, 24);
    margin-bottom: 16px;
    @media screen and (min-width: $breakpoint-desktop) {
      @include font-size(20, 500, 30);
      margin-bottom: 32px;
    }
  }
  p {
    color: $darckTextColor;
    @include font-size(14, 400);
    margin-bottom: 132px;
    @media screen and (min-width: $breakpoint-desktop) {
      @include font-size(16, 400, 24);
      margin-bottom: 64px;
    }
  }
}
.trainingPageImg {
  width: 144px;
  @media screen and (min-width: $breakpoint-desktop) {
    width: 203px;
    height: 230px;
  }
}
.buttonWrp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: $breakpoint-desktop) {
    gap: 10px;
    flex-direction: row;
  }
}

.addButton {
  width: 100%;

  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 30px;
  border: 1px solid #85aa9f;
  background: $mainAccentColor;
  color: $lightTextColor;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include font-size(18, 700, 28);
  &:hover,
  &:focus {
    transform: scale(1.05);
    background: $pageBgColor;
    color: $mainAccentColor;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 215px;
  }
}
.cancelButton {
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 30px;
  background: $pageBgColor;
  color: rgba(18, 20, 23, 0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include font-size(18, 700, 28);
  @media screen and (min-width: $breakpoint-desktop) {
    color: $mainAccentColor;
    background: $pageBgColor;
    border: 1px solid $mainAccentColor;
  }
  &:hover,
  &:focus {
    transform: scale(1.05);
    border: 1px solid $mainAccentColor;
    background: $lightTextColor;
    color: $mainAccentColor;
    @media screen and (min-width: $breakpoint-desktop) {
      border: 1px solid $mainAccentColor;
      background: $mainAccentColor;
      color: $lightTextColor;
    }
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: 215px;
  }
}
