@import "../../scss/mixins";
@import "../../scss/variables";

.dashboardFilterWrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}
.dashboardWrp {
  display: flex;
  align-items: center;
  gap: 16px;
}
.dashboardProgres {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(18, 20, 23, 0.5);
  @include font-size(16, 500, 24);
}

.dashboardProgresValue {
  color: $darckTextColor;
  text-align: center;
  @include font-size(20, 500, 30);
}

.dashboardAddBtn {
  display: flex;
  gap: 8px;
  background-color: transparent;
  color: $darckTextColor;
  @include font-size(16, 500, 24);

  svg {
    width: 20px;
    height: 20px;
  }
}
.dashboardlink {
  display: flex;
  gap: 8px;
  color: $darckTextColor;
  @include font-size(16, 500, 24);
  svg {
    width: 20px;
    height: 20px;
  }
}
