@import "../../scss/mixins";
@import "../../scss/variables";

.ProgressBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.numberValue {
  display: none;
  @media screen and (min-width: $breakpoint-tablet) {
    display: block;
    margin-right: 16px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #121417 !important;
    font-family: inherit !important;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    font-size: 22px !important;
  }
}
